body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: "14px";
  margin-right: "14px";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.site-layout-content {
  background: #141414;
}

.footer {
  border-top: rgb(199, 199, 199);
  border-top-style: solid;
  margin: 10px 10% 10px 10%;
  border-width: 2px;
}

.content {
  padding-bottom: 20px;
  padding-inline: 10%;
  text-align: center;
}

.content-border {
  display: inline-block;
  max-inline-size: 1500px;
  background-color: white;
  border-color: rgb(199, 199, 199);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 20px;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
